[submodule "cmake"]
	path = cmake
	url = https://github.com/swillner/cmake-modules
[submodule "lib/cpp-library"]
	path = lib/cpp-library
	url = https://github.com/swillner/cpp-library
[submodule "lib/nvector"]
	path = lib/nvector
	url = https://github.com/swillner/nvector
[submodule "lib/args"]
	path = lib/args
	url = https://github.com/Taywee/args
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/CLI11"]
	path = lib/CLI11
	url = https://github.com/CLIUtils/CLI11
